@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Todo App!</h1>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Todo List</h5>
                    <p class="card-text">Manage your tasks with our simple todo list.</p>
                    <a href="/todo-list" class="btn btn-primary">Go to Todo List</a>
                </div>
            </div>
        </div>
    </div>
</div>
